In [1]:
import pandas as pd
from sqlalchemy import create_engine

# ---------------------------------------
# üîó DATABASE CONNECTION
# ---------------------------------------
DB_USER = "root"
DB_PASSWORD = "ortonfan007!"
DB_HOST = "localhost"
DB_PORT = "3306"
DB_NAME = "ptcl_inventory"

connection_string = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(connection_string)

# ---------------------------------------
# üìå TRANSFORM: Create processed tables
# ---------------------------------------
sheet1_query = """
CREATE TABLE processed_sheet1 AS
SELECT DISTINCT
    plant,
    storage_location,
    purchase_order,
    material,
    material_description,
    quantity,
    posting_date,
    movement_type,
    amt_in_loc_cur,
    entry_date,
    ingestion_date
FROM raw_sheet1
WHERE movement_type IN ('101', '201');
"""

sto1_query = """
CREATE  TABLE processed_sto1 AS
SELECT DISTINCT
    plant,
    storage_location,
    purchase_order,
    material,
    material_description,
    quantity,
    posting_date,
    movement_type,
    amt_in_loc_cur,
    receiving_plant,
    deliv_date,
    gr_posting_date,
    ingestion_date
FROM raw_sto1
WHERE movement_type IN ('301', '303');
"""

# ---------------------------------------
# ‚úÖ EXECUTE
# ---------------------------------------
try:
    with engine.begin() as connection:
        connection.execute(sheet1_query)
        connection.execute(sto1_query)
        print("‚úÖ Processed tables created successfully.")
except Exception as e:
    print("‚ùå Error creating processed tables:", str(e))

‚úÖ Processed tables created successfully.